[user]
	name = Matthew Pounsett
	email = matt@conundrum.com
	signingkey = 07CFBD89017A24193AF427937E719F1B79088852

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

# This whole IncludeIf thing doesn't work on most Linuxes because git is too
# far out of date.  This can be fixed on Debian and its derivatives by
# installing git 2.1 or later from backports.
[includeIf "gitdir/i:~/devel/nimbus/"]
	path = ~/.gitconfig-nimbus

[includeIf "gitdir/i:~/devel/rightside/"]
	path = ~/.gitconfig-nimbus

[includeIf "gitdir/i:~/devel/oarc/"]
	path = ~/.gitconfig-nimbus

[push]
	default = simple
